.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .4);
  position: absolute;
  z-index: 4;
  justify-content: center;
  align-items: center;
}
.overlayForm{
  background-color: whitesmoke;
  height: 60vh;
  width: 40vw;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}
.closeMe{
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: flex-end !important;
  cursor: pointer;
}
.formContainer{
  width: 100%;
  height: 90%;
}


.name-display {
  font-size: 2.2vw;
  width: 100%;
  text-align: center;
  height: 80px;
  letter-spacing: 4px;
}
.name-display h1 {
  font-weight: 900;
  display: inline-block;
  margin: 0;
}
.what-where {
  font-size: 1.6vw;
  width: 83%;
}
.what {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.what h2 {
  font-size: 1.6vw;
  font-weight: 900;
}
.where {
  display: flex;
  justify-content: flex-end;
}
.where h2 {
  font-size: 1.6vw;
  font-weight: 900;
}
@media screen and (max-width: 1130px) {
  .hire-me {
    top: 190px;
    right: 15px;
    height: 100px;
    width: 100px;
  }
  .black-wire h3 {
    font-size: 25px;
  }
}

@media screen and (max-width: 1000px) {
  .what-where {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    width: 100%;
  }
  .what,
  .where,
  .name-display {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .name-display h1,
  .what h2,
  .where h2 {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .half {
    width: 100%;
    height: 50%;
  }
  .image-side {
    height: 30%;
  }
  .portfolio-side {
    height: 70%;
  }
  .hire-me {
    top: 0px;
    right: 15px;
  }
}
