.App {
  background: black;
  height: 100vh;
  width: 100vw;
  font-family: "Lato", sans-serif;
}
.flex-cent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-cent-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  height: 90%;
  width: 90%;
  justify-content: space-around !important;
}
.half {
  height: 100%;
  width: 47%;
}
.image-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  height: 100%;
  width: 100%;
}
.bottom-frame {
  height: 100%;
  width: 100%;
  position: relative;
}
.hire-me {
  height: 130px;
  width: 130px;
  background: #ff3434;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 190px;
  right: 35px;
}
.hire-me:hover {
  cursor: pointer;
}
.black-wire {
  height: 75%;
  width: 75%;
  background: none;
  border: 8px solid black;
}
.black-wire h3 {
  font-size: 35px;
  margin-left: 10px;
  font-weight: 900;
}
.portfolio-side {
  background: #eaeaea;
}

.display-box {
  height: 100%;
  width: 95%;
  display: flex;
  justify-content: flex-start;
  overflow-y: auto;
}
